<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>FreeSpoonAdmin</title>
</head>
<body>
	<form action="/login/signup/fail/" method="post">
		{% csrf_token %}
        <p>Sorry, the account had already exist. Please click the button OK below to the login page or the button Return below to the registration page.</p>
		<a href="http://192.168.102.9:8000/login/signin/"><button type="button">OK</button></a>
		<a href="http://192.168.102.9:8000/login/signup/"><button type="button">Return</button></a>
	</form>
</body>
</html>
